@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: 'Public Sans', sans-serif;
  --aspect-og-image: 1.91 / 1;
}

:root {
  --ui-primary: #00a6fb;
  --ui-text: #FAFAFF;
  --ui-secondary: #fb8500;
}

@theme {
  --color-blue-50: #eff9ff;
  --color-blue-100: #def1ff;
  --color-blue-200: #b6e5ff;
  --color-blue-300: #75d2ff;
  --color-blue-400: #2cbcff;
  --color-blue-500: #00a6fb;
  --color-blue-600: #0082d4;
  --color-blue-700: #0067ab;
  --color-blue-800: #00578d;
  --color-blue-900: #064974;
  --color-blue-950: #042e4d;
}

.dark {
  --ui-bg: #131515;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(0deg, #343a40 0%, #131515 100%);
}

@utility custom-container {
  @apply w-full max-w-7xl mx-auto scroll-m-16;
}

@utility devfolio-container {
  @apply w-full max-w-5xl mx-auto px-4 sm:px-8;
}

@utility animate-rotate {
  animation-name: rotate;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
