@import "tailwindcss";
@import "@nuxt/ui";


@theme {
  --font-sans: 'Public Sans', sans-serif;
}

:root {
  --ui-text: #FAFAFF;
  --ui-secondary: red;
}

.dark {
  --ui-bg: #131515;
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(0deg, #343a40 0%, #131515 100%);
}
