@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: 'Public Sans', sans-serif;
  --aspect-og-image: 1.91 / 1;
}

:root {
  --ui-text: #FAFAFF;
  --ui-secondary: red;
}

.dark {
  --ui-bg: #131515;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(0deg, #343a40 0%, #131515 100%);
}

@utility custom-container {
  @apply w-full max-w-7xl mx-auto scroll-m-16;
}

@utility animate-rotate {
  animation-name: rotate;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
